/* main.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/styles/main.css */

.main-page {
  text-align: center;
}

.button-container {
  margin-top: 20px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  background: #fff;
  width: 300px;
  padding: 20px;
  margin: 100px auto;
  border-radius: 8px;
  position: relative;
}

.title-input::placeholder {
  color: #fff;  /* 흰색 */
}
