<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Sign up</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>회원가입</h1>
<form th:action="@{/signup}" method="post">
  <div>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required>
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>
  </div>
  <div>
    <label for="firstName">First name</label>
    <input type="text" id="firstName" name="firstName">
  </div>
  <div>
    <label for="lastName">Last name</label>
    <input type="text" id="lastName" name="lastName">
  </div>
  <button type="submit">Sign up</button>
</form>

<p th:if="${errorMessage}" th:text="${errorMessage}" style="color:red;"></p>

<p>이미 계정이 있으신가요? <a th:href="@{/login}">Log in</a></p>
</body>
</html>
